// #titles
.title {
  color: $blanco;
  font-family: $sans;
  text-align: center;
}

.title-main-name {
  margin-top: 203px;
}

.title-skills {
  color: $gris-title;
}

.title-project {
  color: $gris-title;
  margin-top: 77px;
  height: 51px;

}

.title-about-me {
  margin-top: 78px;

}

.title-contact {
  padding: 47px;
  height: 36px;
  text-align: center;
}


