// #titles
.title {
  
  color: $blanco;
  font-family: $sans;
  text-align: center;
}

.title-main-name {
  margin-top: 203px;
}

.title-skill {
  color: $gris-title;
}

.title-project {
  color: $gris-title;
  margin-top: 58px;
}

.title-about-me {
   margin-top: 64px;
}

.title-contact{
   padding: 39px;
}
// inputs

