/* #Variables
================================================= */
// Colores
$turquesa: #2BBBAF;
$gris-oscuro: #050E17;
$gris-claro: #DCDFCD;
$gris-title: #3A352C;
$rosado: #DF5C63;
$blanco: #FCFCFC;
$morada: #927894;


// height

$max-height: 600px;

// Tipografías
$sans: Helvetica, Arial, sans-serif;
$serif: Georgia, 'Times New Roman', serif;

// Grid sizes
$grid-context: 960px;
$grid-main-content: 600px;