

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.skills { @include border-radius(10px); }
.button-pill-skills { @include border-radius(5px); }




