/* #Variables
================================================= */


// Colores

$turquesa: #60B49A;
$gris-oscuro: #050E17;
$gris-claro: #DCDFCD;
$gris-title: #3A352C;
$rosado: #CD929D;
$rosado-oscuro: #D67C90;
$blanco: #FCFCFC;
$morada: #AD9AB5;


// height

$max-height: 600px;


// Grid sizes

$grid-context: 960px;
$grid-main-content: 600px;

