
.footer-contact {
  background: url(../img/fondo-background.jpg) no-repeat;
  background-size: cover;
  background-color: rgba(22,21,21,0.7);
	
}

.footer-contact-container {
  background-color: rgba(22,21,21,0.7);
  overflow: hidden;
}

.footer-contact-container-info {
  max-width:900px;
  margin:0 auto;
  height: 450px;
}

.email {
	margin-left: 11px;
  height: 30px;
  width: 200px;
}

.nombre {
  margin-left: 1px;
  height: 30px;
  width: 200px;
}

.message {
	margin-top: 5px;
}

.nombre::-webkit-input-placeholder { color: $blanco; }
.email::-webkit-input-placeholder { color: $blanco; }
.message::-webkit-input-placeholder { color: $blanco; }

.footer-contact  input ,textarea{
   background-color: rgba(22,21,21,-0.4);
   border: 1px solid $blanco ;
   color: $blanco;
}

.contact-personal-information {
   float:right;
   margin-top: -190px;
   color: $blanco;
   display: inline-block;
}

.div-border {   
  border-left: 1px solid #ccc;
  width: 1px;
  height: 200px;
  display: inline-block;
  margin-top: -211px;
  margin-left: 387px;
} 

.social-network {
  background-color:$gris-oscuro;
  height: 80px;

}

.content-social-network {
  max-width:900px;
  margin:0 auto;
  text-align: center;
}

.content-social-network img {
  width: 6%;
  height: 56%;
  margin-top:-1px;
  padding: 17px;
}