.header{
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  height: $max-height;
  overflow: hidden;
}

.container-header{
	background-color: rgba(22,21,21,0.7);
	height: $max-height;
	overflow: hidden;
}


